{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    <section class="container row">
        {% for listing in listings %}
            <div class="card col col-12 col-sm-6 col-md-4 col-lg-3 py-3 mx-1 my-3 d-flex ">
                {% if listing.thumbnail %}
                    <img src="{{ listing.thumbnail.url }}" alt="{{ listing.title }}" class="card-img-top img-fluid object-fit-cover" style="height: 180px">
                {% else %}
                    <img src="{% static 'auctions/images/imageless_listing.svg' %}" alt="No image">
                {% endif %}
                
                <span class="fs-6 py-1">by <strong>{{ listing.seller }}</strong></span>
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text d-flex flex-fill">{{ listing.description }}</p>
                <caption class="fs-6">Current price:</caption>
                <h6 class="pb-3">$ {{ listing.current_price }}</h6>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">See item</a>
            </div>
        {% empty %}
            No active listings.
        {% endfor %}
    </section>
{% endblock %}