{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <section class="container-lg">
        <div class="row justify-content-center py-3">
            {% if listing.thumbnail %}
                <img src="{{ listing.thumbnail.url }}" alt="{{ listing.title }}" class="img-fluid object-fit-cover col col-12 col-md-6 col-lg-8">
            {% else %}
                <img src="{% static 'auctions/images/imageless_listing.svg' %}" alt="No image" class="img-fluid col col-12 col-md-6 col-lg-8">
            {% endif %}
            <div id="content" class="col col-12 col-md-6 col-lg-4 p-sm-2 p-md-3 p-lg-4">
                <caption>by <strong>{{ listing.seller }}</strong></caption>
                {% if not listing.category == None %}
                    <p class="strong fs-5">Category: <a href="{% url "category_filter" listing.category.id %}">{{ listing.category }}</a></p>
                {% endif %}
                <h3>{{ listing.title }}</h3>
                <p class="fs-6">Current price</p>
                <h4>{{ listing.current_price }}</h4>
                {% if user.is_authenticated %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column gap-1 mt-4">
                            {{ bidding_form }}
                            <input type="submit" class="btn btn-primary" value="Place bid">
                        </div>
                    </form>
                {% endif %}
                <form action="{% url 'watchlist_manage' listing.id %}" method="post">
                    <div class="d-flex flex-column gap-1 mt-1 mb-4">
                        {% csrf_token %}
                        {% if is_watchlist %}
                            <input type="submit" class="btn btn-outline-danger" value="Remove from watchlist">
                        {% else %}
                             <input type="submit" class="btn btn-outline-secondary" value="Add to watchlist">
                        {% endif %}
                    </div>
                </form>
                {% if listing.seller == user %}
                    <form action="{% url "close_auction" %}" method="post">
                        {% csrf_token %}
                        
                    </form>
                {% endif %}
                <hr>
                <p>{{ listing.description }}</p>
            </div>
        </div>
    </section>
    <hr>
    <section class="container-lg py-5">
        <h2>Comments</h2>
        
        {% if user.is_authenticated %}
            <form action="{% url "post_comment" listing.id %}" method="post">
                {% csrf_token %}
                <div class="d-flex flex-column gap-3 my-4 col-12 col-md-6 col-lg-8">
                    {{ commenting_form }}
                    <input type="submit" class="btn btn-primary" value="Post">
                </div>
            </form>
        {% else %}
            <div>
                <p>
                    <a href="{% url "login" %}">Log in</a> to post a comment.
                </p>
            </div>
        {% endif %}

        <div class="row justify-content-center py-3">
            <ul>
                {% for comment in comments %}
                    <li>
                        <p>
                            {{ comment.message }}
                        </p>
                        <p class="fs-5">by: {{ comment.author }} | on {{ comment.date }}</p>
                    </li>
                {% empty %}
                    <p>No comments.</p>
                {% endfor %}
            </ul>            
        </div>
    </section>

{% endblock body %}